beautifulsoup4==4.11.1
dnspython==2.2.1
Jinja2==2.11.3
python-nmap==0.4.1
pandas==1.4.2
paramiko==2.7.2
py_console==0.1.4
pyfiglet==0.8.post1
PyInquirer==1.0.3
pyshark==0.4.5
python_nmap==0.7.1
reportlab==3.6.9
requests==2.27.0
tqdm==4.57.0
tweepy==4.8.0